.logo {
	display: block;
	float: left;
	width: 400px;
	height: 80px;
	margin-top: 10px;
	margin-left: 50px;
	font-size: 4.3em;
	font-weight: bold;
	line-height: 1;
	text-transform: uppercase;
	background-image: url("..//img/logo.png");
	background-size: 80px 100%;
	background-repeat: no-repeat;
	
	span {
		display: block;
		width: 300px;
		height: 100%;
		margin-left: 80px;
	}
}

@media screen and (max-width: 1000px) {
	.logo {
		margin-left: 10px;
		width: 40%;
		min-width: 400px;
	}
}
