.education {
	width: 100%;
	height: 1000px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-image: url("..//img/edu-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	h1 {
		font-size: 5em;
		font-weight: bold;
		text-transform: uppercase;
	}

	p {
		padding-top: 30px;
		font-size: 3em;
		font-weight: bold;
		text-transform: uppercase;
	}
}

