.why-us {
	position: relative;
	width: 100%;
	color: $yellow;
	text-align: center;
	background-color: $grey;

	.why-wrap { 
		width: 900px;
		margin: 0 auto;
		padding-top: 50px
	}

	h1 {
		font-size: 5em;
		font-weight: bold;
		text-transform: uppercase;
	}

	h2 {
		padding-top: 40px;
		font-size: 4em;
		font-weight: bold;
		text-transform: uppercase;
	}

	p.if-you {
		
		padding-top: 20px;
		font-size: 3em;
		text-align: left;
	}

	

	.wishlist {
		width: 100%;
		margin: 20px;
		margin-left: 120px;
		font-size: 3em;
		line-height: 1;
		text-align: justify;
		list-style:disc; 

		li {
			padding: 10px;
		}

		/* li:nth-child(2n) {
			text-align: right;
		}
		li:nth-child(3) {
			text-align: center;
		} */
	}
}
.answer {
		display: block;
		padding: 15px;
		width: 50%;
		margin: 20px auto;
		font-size: 3em;
		color: $grey;
		text-transform: uppercase;
		text-align: center;
		background-color: $yellow;
		border-radius: 20px;
		border: 1px solid $grey;
	}


@media screen and (max-width: 1000px) {
	.why-us .why-wrap  {
		width: 750px;

	}

	.why-us .wishlist {
		margin-left: 30px;
	}
}
