.about {
	width: 100%;
	padding-top: 70px;
	padding-bottom: 50px;
	color: $grey;
	text-align: center;
	background-color: $yellow;

	h1 {
		font-size: 5em;
		font-weight: bold;
		text-transform: uppercase;
	}

	p {
		padding-top: 20px;
		font-size: 3em;
		span {
			padding-top: 20px;
			font-weight: bold;
			text-transform: uppercase;
		} 
	}
	
	hr {
		width: 90%;

		height: 5px;
		background-color: $grey;
		border: none;
	}	

	
}